@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

body {
    margin: 0;
}

:root {
    --black: #0B0D17;
    --white: #FFFFFF;
    --light-blue: #D0D6F9;
    --bellefair: "Bellefair", "EB Garamond", serif;
    --barlow-condensed: "Barlow Condensed", "Open Sans", sans-serif;
    --barlow: "Barlow", "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, .subheading-1, .subheading-2, .nav-text, p {
    margin-block-start: 0;
    margin-block-end: 0;
    font-weight: normal;
}

h1 {
    font-family: var(--bellefair);
    font-size: 10vw;
    color: var(--white);
    padding: 2vw 0;
}

h2 {
    font-family: var(--bellefair);
    font-size: 7vw;
}

h3 {
    font-family: var(--bellefair);
    font-size: 3.8vw;
}

h4 {
    font-family: var(--bellefair);
    font-size: 2.2vw;
}

h5 {
    font-family: var(--barlow-condensed);
    font-size: 1.9vw;
    letter-spacing: 4.75px;
    font-weight: normal;
}

.subheading-1 {
    font-family: var(--bellefair);
    font-size: 1.9vw;
}

.subheading-2 {
    font-family: var(--barlow-condensed);
    font-size: 1vw;
    letter-spacing: 2.35px;
}

.nav-text {
    font-family: var(--barlow-condensed);
    font-size: 1.1vw;
    letter-spacing: 2.7px;
    color: var(--white);
}

p {
    font-family: var(--barlow);
    font-size: 1.25vw;
    line-height: 178%;
    color: var(--light-blue);
}

nav {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(80px);
}

nav img {
    padding: 25px;
    height: 100%;
    box-sizing: border-box;
}

nav a {
    display: inline-block;
    padding: 35px 25px;
    color: var(--white);
    text-decoration: none;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
    line-height: 2;
    text-transform: uppercase;
    transition: box-shadow 400ms, color 400ms;
}

nav a:hover {
    box-shadow: inset 0 -3px 0 #808080;
    color: #f8f8f8;
}

#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

#selectedTab {
    box-shadow: inset 0 -3px 0 var(--white);
}

#selectedTab:hover {
    box-shadow: inset 0 -3px 0 var(--white);
    color: #f8f8f8;
}